<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curriculum Vitae</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheet/estilo.css" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-77HBPSNWR3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-77HBPSNWR3');
    </script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>

  <body>
    <header class="header">
      <a href="#" class="logo">Currículo.</a>

      <nav class="navbar">
        <a href="#home" class="active">Inicio</a>
        <a href="#about">Acerca de mí</a>
      </nav>

      <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <section class="home" id="home">
      <div class="home-content">
        <h3>Hola, me llamo</h3>
        <h1>Reimavi Herrera</h1>
        <p>
          Soy una novata en el área, pero con mi curiosidad 
          y mis ganas de aprender, me encanta crear páginas
          que ayuden a las personas y/o pequeños emprendimientos
          a darse a conocer.

          La belleza existe en todas partes, y quiero sacarle toda la creatividad que hay en ello.
        </p>
        <p>
          Actualmente, soy estudiante del área de Ingeniería en Sistemas, de la parte de Informática.
          Allí aprendo a crear sitios web hermosos y funcionales usando HTML, CSS,
          JavaScript y WordPress.
        </p>

        <div class="social-media">
          <a href="https://www.facebook.com/photo/?fbid=642292192874038&set=bc.AbqPLqqmSB7VJFuWYWoOi86aE7LiYR-g5GGl-HSIgXPNlI-8PM_RW6ZyDHHX-DgNRBSvOR5cQPhmqs8NZ6ak5Zv-gifGXKalR_ZQEmrm_1JTAqde1db0W4PfBz8tRj2Zcj_EELwJJw0UHUd-WlYysv7f&opaqueCursor=AbozoKuvTCP0zB58u4I3G_rfhxXyboy_CZ27niJQda9cFUwccWrHofvBfeB17nrhQpa33Ub3KhvjYhCVJWsCFuEs4zVP6K1TBtxC5k1oFqdvRuiIY5AfaHHjKbmlLHA1hHg3iAStxM8aAW8rgtWF5eSUnEvU8pIVY7HAUscgqJhuxp25yRb234_0U66xeNMTMpVlE52M5qEvl049VAZArVUbhIchvhO9pslWZz2CIryTPXXNcor9UiFtxLSSGP4R3UbZUtKc9unP1OErPGFfrU6TvR0uQSjSnVCXunLgP38FmhTFK5a33hVzyVVpQbUW1APn7AozeA2wAFDYZ2iwwFEf33iQ9tGT0IHZsNYGF5n-h5P_-yhd6J-k45KhF5WbQGTLS47kI20FBWnDkELAEnWOzRjfRSk783VWollSQhJAlwzXblkHW1c1e3vhHWw-fr0k25e1qh9LAwjw7Y8V9SRSu7R_ffM--q9MC302cQ3tbjQuN6X9l_BO-Wylr-A0ZFtOts_cM_Dt6y1kYv023vJqls8dKIIRJ5OY3ZHJHRGfyq-9Ke28RmSKFnXONCvo9WYMDd0xDAncnZI6bo1ez_OZk6DEGJAaWlbCfkAQBW2QOUg8zYH8fgXLQT5hC928Kjrn4HiB95CVy1PUmr_Ey7jd"><i class="bx bxl-facebook"></i></a>
          <a href=""><i class="bx bxl-twitter"></i></a>
          <a href="https://www.instagram.com/p/CLwoXlMJibp/"><i class="bx bxl-instagram-alt"></i></a>
        </div>

        <a href="#" class="btn">Descargar CV</a>
      </div>

      <div class="profession-container">
        <div class="profession-box">
          <div class="profession" style="--i: 0">
            <i class="bx bx-code-alt"></i>
            <h3>Desarrollo Web</h3>
          </div>
          <div class="profession" style="--i: 1">
            <i class="bx bx-camera"></i>
            <h3>Fotografia</h3>
          </div>
          <div class="profession" style="--i: 2">
            <i class="bx bx-palette"></i>
            <h3>Diseño Web</h3>
          </div>
          <div class="profession" style="--i: 3">
            <i class="bx bx-video-recording"></i>
            <h3>Camarógrafa</h3>
          </div>

          <div class="circle"></div>
        </div>

        <div class="overlay"></div>
      </div>

      <div class="home-img">
        <img src="imagen/Inicio.png" alt="" />
      </div>
    </section>

    <section class="about" id="about">
      <div class="about-img">
        <img src="imagen\Acerca.jpg" alt="" />
      </div>

      <div class="about-content">
        <h2 class="heading">Sobre <span>Mi</span></h2>
        <h3>
          Te doy la bienvenida, aquí te estoy dando una
          demostración de lo que soy capaz de hacer.
        </h3>
        <p>
          Hola, soy Reimavi, y como pudiste observar, esta página la creé yo.
          Lo utilizo como blog personal para que la gente conozca sobre mi trabajo y mis aficiones.
        </p>
        <p>
          ¡Gracias por tu interés y por haber visitado mi página! Espero que hayas encontrado algo
          que haya llamdo tu atención y quieras contratarme, si quieres saber más sobre mis
          proyectos o lo que hago, te invito a seguirme en mi Instagram y ver mi
          GitHub, allí suelo subir mis próximos proyectos y cómo utilizarlos.
        </p>
        <a href="#" class="btn">Leer más...</a>
      </div>
    </section>

    <section class="services" id="services">
      <h2 class="heading">Mis <span>Servicios</span></h2>

      <div class="services-container">
        <div class="services-box">
          <i class="bx bx-code-alt"></i>
          <h3>Desarrollo Web</h3>
          <p>
            Estoy capacitada para crear sitios web personalizados que se adapten a las necesidades 
            específicas de su negocio o proyecto. 
            Ya sea que necesite una página web sencilla, una tienda en línea o una aplicación web 
            compleja, puedo ayudarlo a lograr sus objetivos.
          </p>
          <a href="#" class="btn">Saber más...</a>
        </div>
        <div class="services-box">
          <i class="bx bxs-paint"></i>
          <h3>Diseño Gráfico</h3>
          <p>
            Utilizando herramientas y software de diseño de vanguardia, puedo dar vida a tus ideas
            y conceptos, creando diseños únicos y memorables que reflejen la esencia de su marca. Ya
            sea que necesites un diseño fresco y moderno para tu sitio web o materiales promocionales
            impresionantes, estoy aquí para hacer que tu visión cobre vida.
          </p>
          <a href="#" class="btn">Saber más...</a>
        </div>
        <div class="services-box">
          <i class="bx bx-bar-chart-alt"></i>
          <h3> Marketing Digital</h3>
          <p>
            Mi enfoque estratégico y orientado a resultados garantiza que juntos podamos crear
            campañas efectivas que impulsen el crecimiento de su negocio en línea. Desde la
            planificación hasta la ejecución y el análisis de resultados, estaré a su lado en cada
            paso del camino para asegurarnos de que su estrategia de Marketing Digital sea un éxito.

          </p>
          <a href="#" class="btn">Saber más...</a>
        </div>
      </div>
    </section>

    <section class="portfolio" id="portfolio">
      <h2 class="heading">Últimos <span>Proyectos</span></h2>

      <div class="portfolio-container">
        <div class="portfolio-box">
          <img src="imagen\proyecto1.jpg" alt="" />

          <div class="portfolio-layer">
            <h4>PAN DE CANELA</h4>
            <p>
              Esta fue mi primera página, la cual, fue creada para el emprendimiento de una panadería.
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
        <div class="portfolio-box">
          <img src="imagen\proyecto2.jpg" alt="" />

          <div class="portfolio-layer">
            <h4>COLUMBIA</h4>
            <p>
              Aquí fui contratada para crear una página que mostrara los servicios de una clínica.
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
        <div class="portfolio-box">
          <img src="imagen\proyecto3.jpg" alt="" />

          <div class="portfolio-layer">
            <h4>KOREAN FOOD</h4>
            <p>
              Mi proyecto más grande, allí se reciben los pedidos y ayuda a procesar los pagos que
              se hacen en línea por su página.
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
        <div class="portfolio-box">
          <img src="imagen\proyecto4.jpg" alt="" />

          <div class="portfolio-layer">
            <h4>LOS ESTILOS DE BELINDA</h4>
            <p>
              Mi segundo proyecto más grande, aquí se incluían citas con los nombres y direcciones
              de los clientes, así como las cuotas de los servicios y sus modificaciones, por el
              contratante.
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
        <div class="portfolio-box">
          <img src="imagen\proyecto5.jpg" alt="" />

          <div class="portfolio-layer">
            <h4>PETS FRIENDLY</h4>
            <p>
              Mi trabajo más querido, un bello refugio que mostraba los animales que allí habían
              y donde los que querían adoptar podían rellenar la solicitud que se almacenaba en sus
              cuentas.
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
        <div class="portfolio-box">
          <img src="imagen\proyecto6.jpg" alt="" />

          <div class="portfolio-layer">
            <h4>ANDY'S TOYS</h4>
            <p>
              Mi trabajo más reciente, una jugueteria virtual que hace muñecos personalizados.
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
      </div>
    </section>

    <div class="testimonial-container">
      <h2 class="heading">Clientes <span>Satisfechos</span></h2>

      <div class="testimonial-wrapper">
        <div class="testimonial-box mySwiper">
          <div class="testimonial-content swiper-wrapper">
            <div class="testimonial-slide swiper-slide">
              <img src="imagen\Testigo 1.jpg" alt="" />
              <h3>Ananda Osmel</h3>
              <p>
                Como cliente, no puedo dejar de recomendar los servicios de la Ingeniera Reimavi
                Herrera como desarrolladora web. Su desempeño es simplemente increíble, y la
                calidad de su programación es excepcional. Desde el primer día, demostró un
                compromiso inquebrantable con nuestro proyecto, entregando resultados que superaron
                con creces nuestras expectativas. Confiable, creativa y profesional, trabajar con
                ella ha sido una experiencia verdaderamente gratificante. Sin duda, la recomendaría
                a cualquiera que busque llevar su presencia en línea al siguiente nivel.
              </p>
            </div>
        </div>
      </div>
    </div>

    <section class="contact" id="contact">
      <h2 class="heading">Contactame</h2>

      <form action="/form-contacto" method="post">
        <div class="input-box">
          <input type="text" name="name" id="name" placeholder="Nombre completo" />
          <input type="email" name="email" id="email" placeholder="Correo electronico" />
        </div>
        <div class="input-box">
          <input type="number" name="cell" id="cell" placeholder="Telefono" />
          <input type="text" placeholder="Asunto del correo" />
        </div>
        <textarea
          name="mensaje"
          id="mensaje
          cols="30"
          rows="10"
          placeholder="Mensaje"
        ></textarea>
        <div class="g-recaptcha" data-sitekey="6LdN3_gpAAAAAGArOtq71-sNlwImZi68ZX7_IwiV"></div>
        <input type="submit" value="Enviar mensaje" class="btn" />
      </form>
    </section>
    <div class="camp">
      
      <div class="footer-iconTop">
        <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
      </div>

    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script src="routes\script.js"></script>

  </body>
</html>
