<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="\stylesheet\login.css">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

    <meta name="google-singnin-client_id" content="734405812430-fcfemcpshg0fu5log9p14bmajdo94qii.apps.googleusercontent.com">
</head>
<body>
  <div class="login">
    <h1>Iniciar Sesión</h1>
    <% if (error_msg) { %>
      <p><%= error_msg %></p>
    <% } %>
    <form action="/auth/login" method="POST">
      <div class="usuario">
        <input type="text" name="username" id="username" autocomplete="off" required>
        <label for="username">Nombre de Usuario:</label>
      </div>
      <div class="usuario">
        <input type="password" name="password" id="password" autocomplete="off" required>
        <label for="password">Contraseña:</label>
      </div>
      <button type="submit" class="btn-enviar">Ingresar</button>
      <div class="google">
        <p>Tambien puedes ingresar con Google:</p>
      </div>
    </form>
    <a href="/auth/google"><button class="btn-enviar">Google</button></a>
    <a href="/auth/google" onclick="singOut();">Salir</a>
  </div>
</body>
</html>
